.coverHeader {
    background: #202020c7;
    height: 300px;
    width: 100%;
}
.imgHeader {
    background-image: url(../../picture/img15.jpeg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
.textHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: "Libre Baskerville";
    height: 300px;
    width: 100%;
    color: var(--white);
    position: absolute;
    z-index: 1;
}

.cover {
    padding: 4rem;
    display: flex;
    font-family: "Libre Baskerville";
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgProfile {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.coverTabs {
    /* background: #000; */
}

@media only screen and (max-width: 1024px) {
    .cover {
        padding: 2rem;
    }
}
@media only screen and (max-width: 960px) {
    .cover {
        padding: 1rem;
    }
}
