.coverHeader {
    background: #202020c7;
    height: 300px;
    width: 100%;
}
.imgHeader {
    background-image: url(../../picture/img21.jpeg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
.textHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Libre Baskerville";
    height: 300px;
    width: 100%;
    color: var(--white);
    position: absolute;
    z-index: 1;
}

.container {
    background: #000;
    color: var(--white);
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.carouselContainer {
    width: 300px;
}
.img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
